option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: "savannahTest.wsgi:application"
  aws:elasticbeanstalk:environment:proxy:staticfiles:
    "/staticfiles": "/staticfiles"


container_commands:
  01_create_staticfilesdirectory:
    command: "source /var/app/venv/*/bin/activate && mkdir staticfiles"
  02_collectstatics:
    command: "source /var/app/venv/*/bin/activate && python manage.py collectstatic --noinput"
  03_aerich_upgrade:
    command: "source /var/app/venv/*/bin/activate && python3 manage.py migrate"